{% extends 'commons.html' %}

{% block content %}
    <h1>{% block title %} User Login{%endblock%} </h1>

    <form action="/loginuser" method="post">
        <div class="text_field">
            <input type="text" name="username" placeholder="Enter User Name"></input>

        </div>
        <div class="text_field">
            <input type="password" name="password" placeholder="Enter Password"></input>
        </div>
        <input type="submit" value="Login"></input>
        <div class="signup_link">
            New User <a href="/newuser"> Register here</a>
        </div>


    </form>


{% endblock %}

