<!DOCTYPE html>
<html>
<body>

<h2 style="background-color:rgb(127, 255, 212)">Bid here</h2>
<d1>
<form>

    <h2>Name: <input type="text" id="fname" name="fname" value="" placeholder="Enter name"><br></h2>

  <h2>Email:<input type="text" id="email" name="fname" value="" placeholder="Enter Email"><br></h2>

    <h2>Product name:<input type="text" id="pname" name="lname" value="" placeholder="Enter product name"><br></h2>

    <h2>About product:<input type="text" id="pdetails" name="lname" value="" placeholder="About product"><br></h2>

    <h2>Bid amount:<input type="text" id="biddetails" name="lname" value="" placeholder="Enter bid amount"><br></h2>

  <li class="nav-item">
          <a style="color:black" class="nav-link active"  href="dashboard">Submit</a>
        </li>


</form>
</d1>

</body>
</html>
