 {% extends 'commons.html' %}

 {% block content %}
    <center><h1> {% block title%}Registration Form {% endblock %}</h1> </center>

    <form action="/registeruser" method="post" >
        <div class="text_field">
             <input type="text" name="username" placeholder="Enter User Name" name="username" id="username" placeholder="Enter Your Name" onblur="return validateUserName()" >
        </div>
        <div class="text_field">
            <input type="password" name="password" id="password" placeholder="Enter Your Password" onblur="return validatePassword()" >
        </div>
        <div class="text_field">
            <input type="email" name="email" id="email" placeholder="Enter Email Id">
        </div>
        <div class="text_field">
             <input type="text" name="mobileno" placeholder="Enter Mobile Number" pattern="[0-9]*">
        </div>
        <div class="text_field">
             <input type="submit" value="Register">
        </div>

    </form>

 {% endblock %}
